<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :user_name %><br />
  <%= f.text_field :user_name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>


  <div><%= f.label :role %>
  <%= f.collection_select :role, %w[buyer seller], :to_s, :humanize %></div>
  
  <div><%= f.label :category %>
  <%= f.collection_select :category, 
  				%w[appliances arts,_crafts,_and_sewing automotive beauty baby books cell_phones_and_Accessories
  					clothing_and_accessories collectibles electronics gift_cards grocery health
  					home_and_kitchen jewelry music office_products lawn_and_garden pets shoes 
  					sports_and_outdoors tools_and_home_improvement toys_and_games video_games watches],
  				:to_s, :humanize %></div>


  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
