<%= form_for @bid do |f| %>

<h3 class="control-label"><%= @bid.auction.title %></h3><br />
<img src=<%= @bid.auction.image %> width="250" class="img-polaroid" />



  <div class="control-group">
    <%= f.label "My bid ($)", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :value, :class => 'text_field' %>
    </div>
  </div>

	<%= f.number_field :auction_id, :value => params[:auction_id], :type => 'hidden' %>
	<%= f.number_field :user_id, :value => params[:user_id], :type => 'hidden' %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                bids_path, :class => 'btn' %>
  </div>
<% end %>
