<%- model_class = Auction.new.class -%>
<% if params[:category] %>
		<h1><%= params[:category].to_s.humanize %></h1>
	<% elsif params[:q] %>
		<h1><%= @auctions.count %> results for "<%= params[:q] %>"</h1>
	<% elsif params[:auction_owner] %>
		<h1>My sales</h1>
	<% else %>
		<h1>All Sales</h1>
	<% end %>

<ul class="thumbnails">
	<%= render 'auctionthumbnails' %>
</ul>
	
	<%= render 'auctionmodals' %>