<%- model_class = @auction.class -%>
<h1>Your sale is live!</h1>

<div class="span10">
<div class="row">
<div class="span7">
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @auction.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
  <dd><%= @auction.category.humanize %></dd>
  <dt><strong><%= model_class.human_attribute_name(:brand) %>:</strong></dt>
  <dd><%= @auction.brand %></dd>
  <dt><strong><%= model_class.human_attribute_name(:size) %>:</strong></dt>
  <dd><%= @auction.size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color) %>:</strong></dt>
  <dd><%= @auction.color %></dd>
  <dt><strong><%= model_class.human_attribute_name(:condition) %>:</strong></dt>
  <dd><%= @auction.condition %></dd>
  <dt><strong><%= model_class.human_attribute_name(:buy_now_price) %>:</strong></dt>
  <dd><%= @auction.buy_now_price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lowest_accepted_price) %>:</strong></dt>
  <dd><%= @auction.lowest_accepted_price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @auction.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @auction.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quantity) %>:</strong></dt>
  <dd><%= @auction.quantity %></dd>
</dl>
</div> <!-- end span 7 -->

<div class="span3">
	<img src="<%=@auction.image %>" class="img-polaroid" />
</div> <!-- end span 3-->

</div> <!-- end row -->

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              auctions_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_auction_path(@auction), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              auction_path(@auction),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div> <!-- end form actions div -->

</div> <!-- end span10 -->
